#root, html, body {
    height: 100vh;
}

body {
    margin: 0;
    background: linear-gradient(270deg, #DBDBE1 30.75%, #4C75B7 67.86%, #359FAD 100.11%, #2CAFA8 115.28%);
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}